/* Import fonst */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cedarville+Cursive&family=Edu+TAS+Beginner:wght@400..700&family=Fascinate+Inline&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&family=Story+Script&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header - Navbar  */

.navbar {
  background-color: #4B5563;
}

.nav-title {
  font-family: "Story Script", sans-serif;
  display: inline-block;
  color: #BAC7E3;
  padding: 2rem;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}