/* Import fonst */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cedarville+Cursive&family=Edu+TAS+Beginner:wght@400..700&family=Fascinate+Inline&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&family=Story+Script&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */

body {
  background-color: #BAC7E3;
}

a {
  text-decoration: none;
}

/* Not Found */

.notfound-title {
  font-size: 8rem;
}

.notfound-link {
  display: block;
  font-size: 4rem;
  margin-top: 4rem;
  text-align: end;
  margin-right: 3rem;
}

/* Header - Navbar  */

.navbar {
  background-color: #4B5563;
}

.nav-title {
  font-family: "Story Script", sans-serif;
  display: inline-block;
  color: #BAC7E3;
  padding: 2rem;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}

/* HomePage */

.home-title-container {
  text-align: center;
  padding: 1rem;
  font-family: "Story Script", sans-serif;
}

.home-title {
  font-size: 4rem;
  color: #4B5563;
}

.home-subtitle {
  font-size: 1.2rem;
}

.home-card-container {
  padding: 1rem;
  border-top: 10px solid #4B5563;
  border-bottom: 10px solid #4B5563;
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* CardMovie */

.card-movie {
  flex-basis: calc((100% - 5rem)/5);
}

.card-movie-img {
  width: 100%;
  max-height: 80%;
  border: 2px solid black;
  border-radius: 60px;
}

.card-movie-title-container {
  display: flex;
  justify-content: center;
}

.card-movie-title {
  color: black;
  font-weight: bold;
  font-family: "Story Script", sans-serif;
  font-size: 2rem;
}

.card-movie-director {
  text-align: center;
  color: #4B5563;
}

/* MoviePage */

.movie-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  border-top: 5px solid #4B5563;
  border-bottom: 5px solid #4B5563;
  border-radius: 30px;
  margin-top: 1rem;
}

.movie-img-container {
  flex-basis: 30%;
}

.movie-img {
  width: 80%;
  border-radius: 5px;
}

.movie-description-container {
  flex-basis: 70%;
  font-family: "Story Script", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-title {
  font-size: 4rem;
}

.movie-director {
  color: #4B5563
}

.movie-description {
  margin-top: 2rem;
  font-size: 2rem;
}

.movie-back-btn-container {
  display: flex;
  justify-content: end;

}

.movie-back-btn {
  padding: 0.5rem;
  color: #4B5563;
  font-size: 1.5rem;
  border: 1px solid #4B5563;
  border-radius: 10px;
}

.movie-review-container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.movie-title-review {
  font-size: 2rem;
  font-family: "Story Script", sans-serif;
  color: #4B5563;
}

/* CardReview */

.card-review-container {
  margin-top: 1rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Story Script", sans-serif;
}

.card-review-name-vote-container {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #4B5563;
}

.card-review-text {
  padding: 1rem 0;
  font-size: 1.5rem;
}